.main-sidebar, .left-side, .main-header .logo {width: 200px}
.content-wrapper, .main-header>.navbar {margin-left: 200px}

.progress-bar-green, .progress-bar-success {
    background-color: #00A65A !important;
}

#id_settings_level{
    list-style: none;
    padding: 0;
}

#env-variables .delete-row{margin-top: 30px;}
#additional-links .delete-row{margin-top: 30px;}
#label-variables .delete-row{margin-top: 30px;}

.form-group li, .alert li {list-style: none; margin-left: 0}
.form-group ul {padding-left: 0}

.box-body fieldset {margin: 2em 0 0 0;}
    .box-body fieldset .row {margin-right: 0;}
    .box-body fieldset legend {margin-bottom: 0;}
    .box-body fieldset .col-xs-4 {padding-left: 0}

.card-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
}

.mc2-version{padding: 15px; line-height: 50px}

.org-menu {max-height: none !important;}
