[buildout]
extensions = mr.developer
extends = http://download.zope.org/Zope2/index/2.13.6/versions.cfg
          sources.cfg
          versions.cfg

auto-checkout = Products.ZNagios

sources-dir = devel
dump-picked-versions-file = versions-picked.cfg
develop = .
eggs = collective.monitor
zcml = collective.monitor
parts =
    instance
    omelette

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
user = admin:admin
eggs =
    ${buildout:eggs}
zcml =
    ${buildout:zcml}
zope-conf-additional =
    <product-config five.z2monitor>
        bind 127.0.0.1:8888
    </product-config>

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
