
table.diff {
    background-color: White;
    border-collapse: collapse;
    border-left: 1px solid Black;
    border-top: 1px solid Black;
}

table.diff th,
table.diff td {
    border-bottom: 1px solid Black;
    border-right: 1px solid Black;
    padding: 2px 5px;
}

table.diff.monospace td.old-value,
table.diff.monospace td.new-value{
    font-family: monospace;
    white-space: pre;
}

table.diff tr.diff td.new-value {
    background-color: #cfc;
}

table.diff tr.diff td.old-value {
    background-color: #fcc;
}
