@import '~@synerty/peek-theme/scss/_mixins.web';
@import '~@synerty/peek-theme/scss/_variables.web';

.peek-footer {
  $section_font_size: $general_font_size_2;
  background-color: $white;
  text-align: center;
  @include box-shadow;
}

// Footer Bar
.peek-footer {
  /* Contains the Title Bar classes */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $mobile_footer_bar_height;
}

.footer-bar-btn {
  /* Contains the button attributes unique to the Title Bar */
  padding: $general_padding_2;
  margin-right: 0;
}

.footer-bar-text {
  /* Contains the footer attributes unique to the Title Bar */
  vertical-align: center;
  padding-left: $general_padding_2;
  padding-right: $general_padding_2;
}
